# Projeto
CONTEUDO/
administracaoo/
administracao/banco de dados/

# Eclipse
.buildpath
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# NetBeans
nbproject/
